


# <center>Лабораторна робота № 1.<br> Аналіз даних про доходи населення</center>

**В завданні пропонується за допомогою Pandas відповісти на декілька питань за даними репозиторія UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качати дані не потрібно – вони вже є в директорії роботи).

Унікальні значення ознак (більше інформації за посиланням вище):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [13]:
import pandas as pd

**Доступ до даних на google drive**, якщо ви відкриваєте блокнот в **google colab**, а не на PC, можна отримати шляхом монтування google drive

In [18]:
#Uncomment if use in google collab
"""
!pip install google-colab
!pip install pydrive
"""

In [ ]:
"""
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
"""

In [19]:
"""
downloaded = drive.CreateFile({'id':"1COLYIjDyfc6FTuTYEv-oi8fVNfF3Lmb-"})   
downloaded.GetContentFile('adult.data.csv')
"""

In [20]:
#Use if adlt.data.csv is local, comment if in google collab
data = pd.read_csv('adult.data.csv')
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

**1. Скільки чоловіків і жінок (ознака *sex*) представлено в цьому наборі даних?**

In [22]:
# Ваш код тут
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Який середній вік (ознака *age*) жінок?**

In [23]:
# Ваш код тут
weman = data.loc[data["sex"] == "Female", "age"]
mean_weman_age = weman.mean()
mean_weman_age

36.85823043357163

**3. Яка частка громадян Німеччини (ознака *native-country*)?**

In [24]:
# Ваш код тут
people_in_countries = data["native-country"].value_counts()
countries_freq = people_in_countries / people_in_countries.sum()
germany = countries_freq["Germany"]

**4-5. Які середні значення і середні відхилення віку тих, хто отримує більше 50K в рік (ознака *salary*) і тих, хто отримує менше 50K в рік? **

In [25]:
# Ваш код тут
#less 50K salary mean age
less_50k_salary_age = data.loc[data["salary"] == "<=50K", "age"]
less_50k_salary_mean_age = less_50k_salary_age.mean()
less_50k_salary_mean_age

36.78373786407767

In [26]:
#less 50k salary mean age biases
less_50k_salary_age_bias = less_50k_salary_age.std()
less_50k_salary_age_bias

14.020088490824813

In [27]:
#more 50k salary mean age
more_50k_salary = data[data["salary"] == ">50K"]
more_50k_salary_age = more_50k_salary["age"]
more_50K_salary_mean_age = more_50k_salary_age.mean()
more_50K_salary_mean_age

44.24984058155847

In [28]:
#more 50K salary age bias
more_50k_salary_age_bias = more_50k_salary_age.std()
more_50k_salary_age_bias

10.51902771985177

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* чи *Doctorate*)**

In [31]:
# Ваш код тут
#list of high edications
high_education_ranks = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
#Series of educations with >50K
more_50k_salary_educations = more_50k_salary["education"]
#get mask where high education is
is_hypothesis_true  =more_50k_salary_educations.apply(
    lambda edu_level: edu_level in high_education_ranks).all()
is_hypothesis_true

False

**7. Вивести статистику віку для кажної раси (ознака *race*) і кожної статі. Використовуйте *groupby* і *describe*. Знайдіть таким чином максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [35]:
# Ваш код тут
age_groupped_by_race_sex = data.groupby(["race", "sex"])
age_describe_statistics = age_groupped_by_race_sex["age"].describe()
age_describe_statistics.loc[('Amer-Indian-Eskimo',   'Male')]

count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: (Amer-Indian-Eskimo, Male), dtype: float64

**8. Серед кого більша частка заробляючих багато (>50K): серед одружених чи холостих чоловіків (ознака *marital-status*)? Одруженими вважаємо тих, у кого *marital-status* починається з *Married* (Married-civ-spouse, Married-spouse-absent чи Married-AF-spouse), решту вважаємо холостими.**

In [54]:
# Ваш код тут
result = more_50k_salary["marital-status"].apply(
    lambda status: "married" if "Married" in status else "not married").value_counts()
result

married        6736
not married    1105
Name: marital-status, dtype: int64

**9. Яку максимальну кількість годин людина працює за тиждень (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який серед них відсоток заробляючих багато?**

In [62]:
# Ваш код тут
max_work_hours = data["hours-per-week"].max()
max_work_hours

85

In [ ]:
hardworking_people = data[data["hours-per-week"] == max_work_hours]
#number of people that work a lot
len(hardworking_people)

In [63]:
numbers_of_salary_levels = hardworking_people["salary"].value_counts()
freq_of_salary_levels = numbers_of_salary_levels / numbers_of_salary_levels.sum()
freq_of_salary_levels[">50K"]

0.29411764705882354

**10. Підрахуйте середній час роботи (*hours-per-week*) заробляючих мало і багато (*salary*) для кожної країни (*native-country*).**

In [65]:
# Ваш код тут
import numpy as np
data.pivot_table(index=["salary"], columns=["native-country"], values=["hours-per-week"], aggfunc=np.mean)

               hours-per-week             ...
native-country              ?   Cambodia  ...    Vietnam Yugoslavia
salary                                    ...
<=50K               40.164760  41.416667  ...  37.193548       41.6
>50K                45.547945  40.000000  ...  39.200000       49.5

[2 rows x 42 columns]